snippet console "console.log()" b
  console.log(${1:'$2', $3});
endsnippet

snippet try "try {} catch (err) { console.log(err); }" i
try {
  $1;
} catch (err) {
  ${2:console.log(errl);}
}
endsnippet
